.cv {
  @include clearfix;
  animation: intro .3s both;
  animation-delay: .25s;
  margin-bottom: 2em;
  text-indent: none;

  p,
  p+p {
    float: left;
    font-weight: lighter;
    line-height: 1.4em;
    margin-bottom: .5em;
    margin-top: 0;
    padding-left: $indent-var;
    text-indent: 0;
    width: span(12 of 12);
  }

  .page,
  .page__inner-wrap,
  .page__meta,
  .page__share {
    width: span(12 of 12);
  }

  .page__content h2 {
    @include clearfix;
    background-color: $gray;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: $lighter-gray;
    float: left;
    margin: 2em -.2em .5em;
    padding: .1em .2em;
    text-indent: 0;
    width: span(12 of 12);
  }

  .page__content h3 {
    @include clearfix;
    border-bottom: 1pt solid $light-gray;
    float: left;
    margin: .5em 0;
    text-indent: 0;
    width: span(12 of 12);
  }

  .body-toc {
    float: left;
    margin-left: 0;
  }

  .cv-intro {
    font-weight: normal;
    margin: .5em 0;
    padding-left: .3em;
    text-indent: 0;
  }

  .cv-date,
  .cv-title {
    font-weight: normal;
    margin-bottom: .5em;
  }

  .cv-date {
    clear: right;
    color: $gray;
    text-align: right;
    width: span(2 of 12);
  }

  .cv-title {
    padding-left: .3em;
    width: span(10 of 12);
  }

  ul {
    float: left;
  }
}



// p,
// p+p {
//   &.cv {
//     // margin-top: -$indent-var;
//     @include clearfix;
//     margin-bottom: 1em;
//     padding-left: $indent-var;
//     text-indent: 0;
//     width: span(12 of 12);
//
//     &-date,
//     &-intro,
//     &-title {
//       margin: .5em 0;
//       text-indent: 0;
//     }
//   }
// }
